<%- include("partials/header.ejs") %>
<body>
    <a class="btn btn-dark btn-lg" href="/products" role="button">products</a>
</body>
<%- include("partials/footer.ejs") %>
<footer><form action="/logout" method="get">       
    <button type="submit">Logout</button>
</form></footer>
