<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/register" method="POST">        
        <label for="email">Email</label>
        <input type="email" class="form-control" name="username" placeholder="Input email here">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" placeholder="choose a strong password">
        
        <button type="submit" class="btn btn-dark">Sign Up</button>
      </form>
</body>
</html>